header.panel-heading {
  position: relative;
}

/* try to resemble .btn-remove-url style in resource form */
.btn.btn-danger.btn-repeating-remove {
  position: absolute;
  margin-right: 0;
  top: 9px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

li.multiple-text-field {
  position: relative;
  padding-bottom: 6px;
}

li.multiple-text-field input {
  padding-right: 90px;
}

/* Links list*/
.link-list { 
  list-style-type: "🔗 ";
  vertical-align: middle;
}

.link-list li::marker {
  font-size: 0.85em;
  vertical-align: middle;
}

/* Keywords list*/
.keyword-list { 
  list-style-type: "🏷️ ";
  vertical-align: middle;
}

.keyword-list li::marker {
  font-size: 0.85em;
  vertical-align: middle;
}

/* INSPIRE Themes list-NTI-RISP spatial URIs list */
.scheming-icon-list {
  list-style-type: none;
  padding-left: 1em;
  line-height: 2em;
}

.scheming-icon-list-icon {
  vertical-align: middle;
  height: 1.6em;
  display: inline-block;
}
.scheming-icon-list-icon:hover { cursor:pointer }

/* try to resemble .btn-remove-url style in resource form */
a.btn.btn-multiple-remove {
  position: absolute;
  margin-right: 0;
  top: 6px;
  right: 7px;
  padding: 0 12px;
  border-radius: 100px;
}

/* remove ":" after form label */
.radio-group label::after {
  content: none;
}

.radio-group label {
  font-weight: normal;
}